@font-face {
  font-family: AppFont;
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: AppFontB;
  /*font-weight: bold;*/
  src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: AppFontI;
  /*font-style: italic;*/
  src: url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
}
@font-face {
  font-family: AppFontL;
  /*font-style: italic;*/
  src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: AppFontT;
  /*font-style: italic;*/
  src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: AppFontBI;
  /*font-style: italic;*/
  /*font-weight: bold;*/
  src: url('../fonts/roboto/RobotoCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: AppFontLI;
  /*font-style: italic;*/
  /*font-weight: bold;*/
  src: url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
}

/*-webkit-transition: 0.5s opacity ease;
-moz-transition: 0.5s opacity ease;
transition: 0.5s opacity ease;*/

#body {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-family: AppFont;
  font-size: 1rem;
  color:white;
  visibility: hidden;
  background-color: #132934;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 15rem;
  background-color:#5A91BE;
  border-radius: 1rem;
  z-index: 1;
}

.page {
  position: absolute;
  top: 0;
  left: 15rem;
  height: 100%;
  width: calc(100% - 15rem);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  overflow-y: auto;
  overflow-x: hidden;;
  background-color:#c0d0d8;
  z-index: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page[data-page="intro"] {
  background-image: url(../img/bg_keyboard.jpg);
  /*background-image: url(../img/bg_black_keyboard.jpg);*/
  /*opacity: 0.6;*/
  /*color:#84BE29;*/
}

.page[data-page="education"] {
  background-image: url(../img/bg_desk.jpg);
}

.page[data-page="experience"] {
  background-image: url(../img/bg_office.jpg);
}

.page[data-page="projects"] {
  background-image: url(../img/bg_office2.jpg);
}

#body[data-page="intro"] .page:not([data-page="intro"]),
#body[data-page="education"] .page:not([data-page="education"]),
#body[data-page="experience"] .page:not([data-page="experience"]),
#body[data-page="projects"] .page:not([data-page="projects"]) {
  /*display: none;*/
  pointer-events: none;
}

.readmore {
  font-family: AppFontLI;
  cursor: pointer;
}

.readmore:hover {
  font-family: AppFontBI;
  text-decoration: underline;
}

.sidebar .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  opacity: 0;
  -webkit-transition: 0.5s opacity 0.5s ease, 0.5s transform 0.5s ease;
  -moz-transition: 0.5s opacity 0.5s ease, 0.5s transform 0.5s ease;
  transition: 0.5s opacity 0.5s ease, 0.5s transform 0.5s ease;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}



#body .sidebar.active .top,
#body .sidebar.active .bot .button {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.sidebar .line {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  border-bottom: 1.5px solid white;
}

.sidebar .top .icon {
  position: absolute;;
  top: 1rem;
  left: calc(50% - 2.5rem);
  width: 5rem;
  height: 6.5rem;
  background-image: url(../img/han.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19)
}
.sidebar .top .text {
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.sidebar .bot {
  position: absolute;
  top: 10rem;
  left: 0;
  width: 100%;
  font-size: 0.8rem;
  height: calc(100% - 10rem);
}

.sidebar .bot .button {
  position: absolute;
  left: 2rem;
  width: calc(100% - 5rem);
  height: 2rem;
  border-bottom: 1.5px solid white;
  text-transform: uppercase;
  padding: 0.5rem;
  display: flex;
  /*flex-direction: column;*/
  text-align: left;
  /*justify-content: center;*/
  align-items: center;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}

.button[data-button="intro"] {
  top: 0;
  cursor: pointer;
  -webkit-transition: 0.5s opacity 0.75s ease, 0.5s transform 0.75s ease;
  -moz-transition: 0.5s opacity 0.75s ease, 0.5s transform 0.75s ease;
  transition: 0.5s opacity 0.75s ease, 0.5s transform 0.75s ease;
}
.button[data-button="education"] {
  top: 3rem;
  cursor: pointer;
  -webkit-transition: 0.5s opacity 1s ease, 0.5s transform 1s ease;
  -moz-transition: 0.5s opacity 1s ease, 0.5s transform 1s ease;
  transition: 0.5s opacity 1s ease, 0.5s transform 1s ease;
}
.button[data-button="experience"] {
  top: 6rem;
  cursor: pointer;
  -webkit-transition: 0.5s opacity 1.25s ease, 0.5s transform 1.25s ease;
  -moz-transition: 0.5s opacity 1.25s ease, 0.5s transform 1.25s ease;
  transition: 0.5s opacity 1.25s ease, 0.5s transform 1.25s ease;
}
.button[data-button="projects"] {
  top: 9rem;
  -webkit-transition: 0.5s opacity 1.5s ease, 0.5s transform 1.5s ease;
  -moz-transition: 0.5s opacity 1.5s ease, 0.5s transform 1.5s ease;
  transition: 0.5s opacity 1.5s ease, 0.5s transform 1.5s ease;
}

.sidebar .bot .button[data-button="projects"] {
  border-bottom: none;
}

.button[data-button="intro"] .arrows,
.button[data-button="education"] .arrows,
.button[data-button="experience"] .arrows {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: rgba(90, 145, 190, 0.2);
  margin-top: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button[data-button="intro"] .arrows,
.button[data-button="education"] .arrows,
.button[data-button="experience"] .arrows {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: rgba(90, 145, 190, 0.2);
  margin-top: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.arrows .arrow {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 50%;
  opacity: 0.5;
  background-image: url(../img/arrow_right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow.arrow1 {
  left: 0%;
  -webkit-animation: shiny1 3s ease-in-out infinite;
  -moz-animation: shiny1 3s ease-in-out infinite;
  animation: shiny1 3s ease-in-out infinite;
}
.arrow.arrow2 {
  left: 25%;
  -webkit-animation: shiny2 3s ease-in-out infinite;
  -moz-animation: shiny2 3s ease-in-out infinite;
  animation: shiny2 3s ease-in-out infinite;
}
.arrow.arrow3 {
  left: 50%;
  -webkit-animation: shiny3 3s ease-in-out infinite;
  -moz-animation: shiny3 3s ease-in-out infinite;
  animation: shiny3 3s ease-in-out infinite;
}

.menu_plus_container {
    position: absolute;
    top: 0;
    left: : 0;
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -moz-flex;
    -moz-flex-direction: column;
    -moz-justify-content: center;
    -moz-align-items: center;
    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;
    -ms-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_plus {
    position: relative;
    width: 1rem;
    height: 1rem;
    -webkit-transition: 0.5s -webkit-transform ease;
    -moz-transition: 0.5s -moz-transform ease;
    transition: 0.5s transform ease;
}
.plus {
    position: absolute;
    top: 0.45rem;
    height: 0.1rem;
    left: 0;
    width: 100%;
    background-color: white;
    -webkit-transition: 0.5s opacity ease;
    -moz-transition: 0.5s opacity ease;
    transition: 0.5s opacity ease;
    opacity: 1;
}

.minus {
    position: absolute;
    left: 0.45rem;
    width: 0.1rem;
    top: 0;
    height: 100%;
    background-color: white;
}

.button[data-button="projects"].active .menu_plus {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  transform:rotate(90deg);
}
.button[data-button="projects"].active .menu_plus .plus{
  opacity: 0;
}

.button[data-button="projects"] .text {
  position: absolute;
  left: 2.5rem;
  top: 0;
  width: calc(100% - 2.5rem);
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

.sidebar .bot .button[data-button="projects"].active {
  height: calc(100% - 12rem);
  /*border-bottom: 1.5px solid white;*/
}

.button[data-button="projects"].active .text {
  border-bottom: 1.5px solid white;
}

.button[data-button="projects"] .box{
  position: absolute;
  top: 3rem;
  left: 2.5rem;
  width: calc(100% - 3.5rem);
  margin: 0.5rem;
  max-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: max-height 0.5s ease-in-out;
}

.box::-webkit-scrollbar {
    width: 12px;
}

.box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(1, 23, 34, 0.9);
}

.page::-webkit-scrollbar {
    width: 12px;
}

.page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(210, 212, 214, 0.3);
    border-radius: 10px;
}

.page::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px white;
}

.button[data-button="projects"].active .box{
  max-height: calc(100% - 4rem);
}

.button[data-button="projects"].active.deactive .box{
  max-height: 0;
}

.button[data-button="projects"].active .box .accordions {
  display: block;
  padding:0.5rem;
  font-size: 0.6rem;
  height: 2.4rem;
  border-bottom: 1.5px solid white;
  cursor: pointer;
  text-align: left;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.button[data-button="projects"].active .box .accordions:last-child {
  border-bottom:none;
}

#body[data-page="intro"] .page[data-page="intro"],
#body[data-page="education"] .page[data-page="education"],
#body[data-page="experience"] .page[data-page="experience"],
#body[data-page="projects"] .page[data-page="projects"] {
  opacity: 1;
  transform: translateX(0);
}


.column {
  display: block;
  padding: 0.5rem 0.5rem 0 0.5rem;
  left: 0;
  width: 100%;
  height: 20rem;
  position: relative;

  -webkit-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.column .name {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(40% - 10rem);
  height: calc(100% - 10rem);
  padding:5rem;
  /*background: blue;*/
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.column .photos {
  position: absolute;
  left: 40%;
  top: 0;
  height: 100%;
  width: 60%;
  z-index: 0;
  /*background: red;*/
}

.photos .photo {
  position: absolute;
  top: calc(50% - 9.75rem);
  left: calc(50% - 7.5rem);
  padding: 0.25rem 0 0.25rem 0;
  width: 15rem;
  height: 19.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  box-shadow: 0 10px 16px 0 rgba(255, 255, 255, 0.2), 0 10px 30px 0 rgba(255, 255, 255, 0.19);
}

.photo[data-photo="1"] {
  background-image: url(../img/han_1.png);
  animation: 15s photochange infinite;
}
.photo[data-photo="2"] {
  background-image: url(../img/han_2.png);
  animation: 15s photochange 5s infinite;
}
.photo[data-photo="3"] {
  background-image: url(../img/han_3.png);
  animation: 15s photochange 10s infinite;
}


.column .address {
  position: absolute;
  left: 60%;
  top: 0;
  width: calc(40% - 10rem);
  height: calc(100% - 10rem);
  padding:5rem;
  /*background: blue;*/
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.column .map {
  position: absolute;
  left: 0%;
  top: 0;
  height: calc(100% - 2rem);
  width: calc(60% - 2rem);
  z-index: 0;
  margin:1rem;
  /*background: red;*/
}

.map iframe.home_map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 10px 16px 0 rgba(255, 255, 255, 0.2), 0 10px 30px 0 rgba(255, 255, 255, 0.19);
}

.page[data-page="intro"] .column.small {
  height: 10rem;
  margin-bottom: 4rem;
}

.column .email {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.5rem 0.5rem 0 3.5rem;
  width: calc(60% - 4rem);
  height:calc(50% - 1rem);
  text-align: left;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.column .email_icon {
  position: absolute;
  left: 60%;
  top: 0;
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 4.3rem;
  height:calc(50% - 1rem);
  background-image: url(../img/email.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  -webkit-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.email_icon.active {
  transform: scale(1.2) translateY(-10%);
}

.column .phone_icon {
  position: absolute;
  left: 60%;
  top: 50%;
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: calc(40% - 1rem);
  height:calc(50% - 1rem);
  background-image: url(../img/phone.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.column .phone {
  position: absolute;
  left: 0;
  top: 50%;
  margin: 0.5rem 0.5rem 0 3.5rem;
  width: calc(60% - 4rem);
  height:calc(50% - 1rem);
  text-align: left;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.column.job {
  height: 34rem;
}

.column .description {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.5rem 0.5rem 0 3.5rem;
  height: 3rem;
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
}

.column .job {
  position: absolute;
  left: 12rem;
  margin: 0.5rem 0.5rem 0 4.5rem;
  height: 3rem;
  width: calc(60% - 5rem);
  display: flex;
  align-items: center;
}

.job.jb1 {
  top: 4rem;
}

.jb1 .icon{
  position: absolute;
  left: -8rem;
  top: 0;
  height: 4rem;
  width: 4rem;
  background-image: url(../img/ror.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.job.jb2 {
  top: 8rem;
}
.jb2 .icon{
  position: absolute;
  left: -10rem;
  top: 0;
  height: 4rem;
  width: 8rem;
  background-image: url(../img/ui.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.job.jb3 {
  top: 12rem;
}
.column .info {
  position: absolute;
  top:  16rem;
  left : 0;
  margin: 0.5rem 0.5rem 0 3.5rem;
  width: calc(100% - 4rem);
  height: 5rem;
  display: flex;
  align-items: center;
}

.info .everify{
  position: absolute;
  right: calc(50% + 2.5rem);
  top: calc(100% + 1rem);
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 10rem;
  height: 5rem;
  background-image: url(../img/everify.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info .visa{
  position: absolute;
  left: calc(50% - 1.5rem);
  top: calc(100% + 1rem);
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 10rem;
  height: 5rem;
  background-image: url(../img/visa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.column .conclusion {
  position: absolute;
  top: 27rem;
  left : 0;
  margin: 0.5rem 0.5rem 0 3.5rem;
  width: calc(100% - 5rem);
  height: 5rem;
  display: flex;
  align-items: center;
}

.page[data-page="education"] .column,
.page[data-page="experience"] .column {
  margin: 0.5rem 0.5rem 0 3.5rem;
  width: calc(100% - 5rem);
}

.page[data-page="education"] .column .bachelor,
.page[data-page="education"] .column .master {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height:6rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.page[data-page="education"] .column .nuist,
.page[data-page="education"] .column .uncp,
.page[data-page="education"] .column .brandeis,
.page[data-page="experience"] .column .kaon {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  width: calc(100% - 2rem);
  /*background: red;*/
}
.column .nuist .text,
.column .uncp .text,
.column .brandeis .text,
.column .kaon .text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.column .nuist .icon,
.column .uncp .icon,
.column .brandeis .icon,
.column .kaon .icon {
  position: absolute;
  margin: 1rem;
  top: 0;
  height: 5rem;
  left: calc(75% - 2.5rem);
  width: 5rem;
  background-image: url(../img/nuist.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page[data-page="education"] .column .uncp .icon {
  background-image: url(../img/uncp.png);
}
.page[data-page="education"] .column .brandeis .icon {
  background-image: url(../img/brandeis.png);
}
.page[data-page="experience"] .column .kaon .icon {
  background-image: url(../img/kaon.png);
  top: 1rem;
  height: 3rem;
  left: calc(75% - 4.5rem);
  width: 9rem;
  cursor: pointer;
}


.column .brandeis .course_description {
  display: block;
}

.column .kaon_description {
  display: block;
  margin-bottom: 2rem;
}

.column .brandeis .courses,
.column .projects {
  display: block;
  left: 0;
  width: 100%;
}

.courses .course,
.projects .project {
  display: block;
  position: relative;
  height: 4rem;
  width: 100%;
  margin-left: 2rem;
}

.courses .course:last-child,
.projects .project:last-child {
  margin-bottom: 2rem;
}

.course .text,
.projects .project .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 4rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.course .icon,
.projects .project .icon {
  position: absolute;
  left: calc(80% - 1rem);
  top: 1rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-image: url(../img/explore.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.course .text span {
  display: inline-block;
}
.course .text div.readmore {
  font-size: 0.6rem;
  padding-left: 0.5rem;
  display: inline-block;
}





/* zhenyu keyframes starts here */
@-webkit-keyframes shiny1 {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  33% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  66% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shiny2 {
  33% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shiny3 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  33% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  66% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes shiny1 {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  33% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  66% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shiny2 {
  33% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shiny3 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  33% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  66% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes photochange {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
  3% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  36% {
    opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
